/*

--- 01 TYPOGRAPHY SYSTEM
- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

--- 02 WHITESPACE
- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

*/
@import url("https://fonts.googleapis.com/css2?family=Teko:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: teko;
  line-height: 1;
  background: -webkit-gradient(90deg, lightblue, darkblue);
  background-image: url("/assets/wave-haikei.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}

.container {
  width: 44rem;
  padding: 0 2rem;
  margin: 0 auto;
}

/* HEADER */

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 1rem 0rem;
}

.logo img {
  width: 6rem;
  height: 6rem;
}

.search-box {
  display: flex;
  align-items: center;
  width: 20rem;
  height: 3rem;
  background-color: white;
  border-radius: 10px;
  padding-left: 0.5rem;
}

.search-input {
  border-color: transparent;
  padding-left: 0.5rem;
  height: 2rem;
  outline: none;
  flex: 1;
}

.search-input::placeholder {
  font-size: 1rem;
  opacity: 0.5;
  text-transform: uppercase;
}

.search-input:focus::-webkit-input-placeholder {
  opacity: 0;
}

.search-icon {
  width: 1rem;
  border: none;
}

.btn {
  height: 3rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border: none;
  border-bottom-right-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  background-color: #d7d7d7;
  cursor: pointer;
}

/* CURRENT TIME */

.section-current-time {
  padding: 1rem 0rem;
}

.current-time-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.time-title {
  font-size: 1.8rem;
  color: #ffffff;
}

.time-box {
  font-size: 4rem;
  color: #f8f9fa;
  text-shadow: 3px 4px 7px rgba(0, 0, 0, 0.496);
}

/* PRAYER TIME */

.section-time-prayer {
  padding: 1rem 0rem;
  display: none;
}

.current-city {
  margin-bottom: 1rem;
  font-size: 3rem;
  color: #f8f9fa;
}

.time-prayer {
  margin-bottom: 1rem;
}

.time-prayer-lists {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.time-prayer-items {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.prayer-name {
  font-size: 2rem;
  font-weight: 700;
  color: #fff;
}

.prayer-time {
  font-size: 1.8rem;
  font-weight: 400;
  color: #f8f9fa;
}

.show {
  display: block;
  animation-name: show;
  animation-duration: 2s;
}

@keyframes show {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.alert {
  display: flex;
  align-items: center;
  position: absolute;
  right: 0;
  top: 1rem;
  border: 1px solid #ffc107;
  border-left: 5px solid #ffc107;
  background-color: #fff;
  padding: 1.5rem 2rem;
  transition: 0.5s ease-in;
}

.alert.close {
  transform: translateX(100%);
  background: #fff;
  opacity: 0;
}

.icon {
  min-width: 4rem;
  min-height: 4rem;

  background-color: #ffc107;
  display: inline-block;
  border-radius: 50%;
  color: #fff;
  text-align: center;
}

.icon-triangle-img {
  width: 2.5rem;
  height: 3.5rem;
}

.icon-close-img {
  width: 1rem;
  height: 3.5rem;
}

.text {
  padding: 0 1.5rem;
  color: #333;
}

.text strong {
  font-size: 1.4rem;
}

.text p {
  color: #666;
  margin: 0.5rem 0;
  font-size: 1.6rem;
}

.close-btn {
  border: none;
  background: transparent;
  font-size: 1.6rem;
  color: #777;
  outline: none;
  cursor: pointer;
  transition: 0.3 ease-in-out;
}
.close:hover {
  color: red;
}
/* .alert-warning {
  border: 1px solid var(--warning);
  border-left: 5px solid var(--warning);
}
.alert-warning > .icon {
  background-color: var(--warning);
} */
